@import url(colors.css);
@import url(fonts.css);



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-color-font-family);
}

main {
  padding: 0 10%;

}

body>header {
  background: var(--header-gradient);
  color: whitesmoke;
  text-shadow: -1px 1px 1px black;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


site-nav {
  position: sticky;
  top:0;
  border-bottom: 2px solid var(--primary-color);
  background: var(--primary-color);
}

site-nav ol  {
  margin:0;
  background: var(--primary-color);
  display: inline;
  list-style: none;
  display:flex;
  justify-content: center;
}

site-nav a {
  color:white;
  text-decoration: none;
  font-family: PressStart2P;
  text-transform: uppercase;
  padding:1em;
  font-size: x-small;
  border-right:1px solid white;
}

site-nav a:not([href]) {
  color:var(--primary-color);
  background-color: white;
}

site-nav a:first-of-type {
  border-left:1px solid white;
}

main h2 {
  border-bottom: 1px solid #333
}
.handwritten {
  font-family: Pecita;
  font-size: 2rem;
}

body > header h1 .handwritten {
  font-size: 4rem;
  transform: rotate(-8deg);
  display: inline-block;
}

body > header h1 a {
  text-decoration: none;
  color: white;
}

.digitized {
  font-family: PressStart2P;
  font-size: 1rem;
}

body > header h1 .digitized {
  color:limegreen;
  text-transform: uppercase;
  font-size: 1.5rem;
}

body > header h2 {
  width: 20em;
  text-align:right;
  margin:0;
}

main>header,
main>section {
  padding: 1em;
}

#site-section-outline {
  border-top: 4px solid var(--primary-color-color);
}

dl {
  display: flex;
  gap: 2em;
  padding: 2em;
}

dl div {
  flex: 1;
  padding: 1em;
  border-radius: 1em;
  box-shadow: -12px 12px 10px gainsboro;
  border: 1px solid gainsboro;
  background: white;
}

dl dt {
  text-align: center;
}



#lessons  {
  counter-reset: lesson-number;
}

#lessons article h4 {
  counter-increment : lesson-number ;
  scroll-margin-top: 3em;
}


#lessons article > a {
  text-decoration: none;
  color: black;
}

lesson-index main {
  display: grid;
  gap: 2em;;
}

#lessons .lesson-summary {
  flex: 1;
  padding: 1em;
  border-radius: 1em;
  box-shadow: -12px 12px 10px gainsboro;
  border: 1px solid gainsboro;
  background: white;
}

#lessons main h3.topic .digitized {
  color:limegreen;
  text-shadow: 
      -2px  3px 0 #333,
       1px -1px 0 #666,
      -1px -1px 0 #666,
       1px  1px 0 #666
    ;
    text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 1.5rem;
  padding: 1em;
  border-top-right-radius: 4px;
  line-height: 2;
}

#lessons main h3.topic .handwritten {
  font-feature-settings: "smcp" on;
  
}

#lessons main h3.topic {
  display: inline-block;
  border-bottom: 1px solid hsl(0, 3.4%, 88.6%);
    padding: 1em;
  line-height: 1;
  padding:0;
}

#lessons section article {
  margin-bottom: 4em;
  border-top-left-radius: 2em;
  background: linear-gradient(160deg, hsl(204.2, 27%, 98.1%), hsl(120, 10%, 100%));
  padding: 2em;
  max-width: 120ch;

}

#lessons time {
  display: inline-grid;
  border: 1px solid var(--primary-color);
  box-shadow: -2px 1px 5px hsla(var(--primary-color));
  text-transform: uppercase;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  border-radius: 5px;
  aspect-ratio: 1/1;
}

#lessons time abbr {
  padding:.2em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight:bold;
  color:white;
  text-decoration: none;
  background:hsl(0, 65.3%, 37.3%);
  margin:0;
}
#lessons time .day {

  font-size:x-large;
  font-weight: bold;
}

